@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Architects+Daughter&family=Barriecito&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Changa:wght@200;300;400;500;600;700;800&family=Francois+One&family=Orbitron:wght@400;500;600;700;800;900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Signika:wght@300;400;500;600;700&family=Varela+Round&family=Viga&family=ZCOOL+QingKe+HuangYou&display=swap');

section{
    font-size: 130px;
    text-align: center;
}
#principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
}
#num1{
    font-family: 'Advent Pro', sans-serif;
}
#num2{
    font-family: 'Architects Daughter', cursive;
}
#num3{
    font-family: 'Barriecito', cursive;

}
#num4{
    font-family: 'Chakra Petch', sans-serif;
}
#num5{
    font-family: 'Changa', sans-serif;
}
#num6{
    font-family: 'Francois One', sans-serif;

}
#num7{
    font-family: 'Orbitron', sans-serif;
    
}
#num8{
    font-family: 'Quantico', sans-serif;
}
#num9{
    font-family: 'Signika', sans-serif;

}
#num10{
    font-family: 'Varela Round', sans-serif;
    
}
#num11{
    font-family: 'Viga', sans-serif;
}
#num12{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
   
}
#num13{
    
}
#num14{    
}
#num15{
   
}
#num16{

}





